*{margin: 0; padding: 0;}




/******Font********/
@font-face {
    font-family: 'gilroy-bolduploaded_file';
    src: url('/fonts/gilroy-bold-webfont.woff2') format('woff2'),
         url('/fonts/gilroy-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}